<table matSort (matSortChange)="sortData($event)">
    <tr>
        <th mat-sort-header="title">Dessert (100g)</th>
        <th mat-sort-header="firstName">Calories</th>
        <th mat-sort-header="lastName">Fat (g)</th>
        <th mat-sort-header="presentAddress">Carbs (g)</th>
        <th mat-sort-header="homeAddress">Protein (g)</th>
    </tr>
    <tr *ngFor="let employee of sortedData">
        <td>{{employee.title}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.presentAddress}}</td>
        <td>{{employee.homeAddress}}</td>
        <td>{{employee.idCardAddress}}</td>
    </tr>
</table>