<div>
  <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <a class="navbar-brand" style="color:white;">CRUD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
      </ul>
      <button type="button" class="btn btn-light" (click)="logout()">LOGOUT</button>
    </div>
  </nav>


  <!-- Notification for no employees -->
  <div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO EMPLOYEES!</h4>
      <p>No Employees were found.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4"></div>
      <div>
        <form class="form-inline my-2 my-lg-0">
          <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel name="key"
            id="searchName" class="form-control mr-sm-2" placeholder="Search" required>
        </form>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>

  <div class="container" id="main-container" style="margin-top: 30px">
    <div class="container">
      <h2>List</h2>

      <table class="table">
        <thead class="table-light">
          <tr>
            <th>Title</th>
            <th>First-Name</th>
            <th>Last-Name</th>
            <th>Present Address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.title}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.presentAddress}}</td>
            <td>
              <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top"
                data-original-title="Edit"><i class="fa fa-pencil"></i> </a> &nbsp;
              <a (click)="onOpenModal(employee, 'delete')" class="btn btn-danger tooltips" data-placement="top"
                data-original-title="Delete"><i class="fa fa-times"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-success" (click)="onOpenModal(null, 'add')">Add</button>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page"></mat-paginator>
    </div>

    <!-- Add Employee Modal -->
    <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
      aria-hidden="true" data-backdrop='static'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">
              <div class="form-group">
                <label>Title</label>
                <div>
                  <select ngModel name="title" class="form-control" id="title" placeholder="Title" required>
                    <option value="">Title</option>
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" ngModel name="firstName" class="form-control" id="firstName" placeholder="First Name"
                  required>
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="Last Name"
                  required>
              </div>
              <div class="form-group">
                <label for="presentAddress">Present Address</label>
                <input type="text" ngModel name="presentAddress" class="form-control" id="presentAddress"
                  placeholder="Present Address" required>
              </div>
              <div class="form-group">
                <label for="homeAddress">Home Address</label>
                <input type="text" ngModel name="homeAddress" class="form-control" id="homeAddress"
                  placeholder="Home Address" required>
              </div>
              <div class="form-group">
                <label for="workAddress">Work Address</label>
                <input type="text" ngModel name="workAddress" class="form-control" id="workAddress"
                  placeholder="Work Address" required>
              </div>
              <div class="modal-footer">
                <button type="button" id="add-employee-form" class="btn btn-secondary"
                  data-dismiss="modal">Close</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog"
      aria-labelledby="employeeEditModalLabel" aria-hidden="true" data-backdrop='static'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateEmployeeModalLabel">Edit {{editEmployee?.firstName}}
              {{editEmployee?.lastName}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #editForm="ngForm">
              <div class="form-group">
                <label for="Title">Title</label>
                <input type="text" ngModel="{{editEmployee?.title}}" name="title" class="form-control" id="title"
                  placeholder="Name">
              </div>
              <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id"
                placeholder="ID">
              <div class="form-group">
                <label for="firstName">Name</label>
                <input type="text" ngModel="{{editEmployee?.firstName}}" name="firstName" class="form-control"
                  id="firstName" placeholder="First Name">
              </div>
              <div class="form-group">
                <label for="lastName">Name</label>
                <input type="text" ngModel="{{editEmployee?.lastName}}" name="lastName" class="form-control"
                  id="lastName" placeholder="Last Name">
              </div>
              <div class="form-group">
                <label for="presentAddress">Present Address</label>
                <input type="text" ngModel="{{editEmployee?.presentAddress}}" name="presentAddress" class="form-control"
                  id="presentAddress" placeholder="Present Address">
              </div>
              <div class="form-group">
                <label for="homeAddress">Home Address</label>
                <input type="text" ngModel="{{editEmployee?.homeAddress}}" name="homeAddress" class="form-control"
                  id="homeAddress" placeholder="Home Address">
              </div>
              <div class="form-group">
                <label for="workAddress">Work Address</label>
                <input type="text" ngModel="{{editEmployee?.workAddress}}" name="workAddress" class="form-control"
                  id="workAddress" placeholder="work Address">
              </div>
              <div class="modal-footer">
                <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                <button (click)="onUpdateEmloyee(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
                  changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
      aria-hidden="true" data-backdrop='static'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete {{deleteEmployee?.firstName}} {{deleteEmployee?.lastName}}?</p>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteEmloyee(deleteEmployee?.id)" class="btn btn-danger"
                data-dismiss="modal">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>